<% content_for(:title) do%>
	<%= 'Editing Channel: ' + @channel.name + ': Sky Clarity Media Management' %>
<% end %>

<div class='title-episode-bold'><b>Editing Channel</b></div>

<%= render 'form' %>

<br>
<p>
  <%= link_to 'Show', @channel %> |
  <%= link_to 'Back', :back %>
</p>
