<div class="panel-group">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title title-episode-bold">
        <a data-toggle="collapse" href="#device-types-add">Add Device Type</a>
      </h3>
      <% if @clip_type.device_add_show %>
        <div id="device-types-add" class="panel-collapse collapse in">
      <% else %>
        <div id="device-types-add" class="panel-collapse collapse">
      <% end %>
        <table class="table table-condensed">
          <tbody>
            <% @device_types.each do |device| %>
              <tr>
                <td><%= link_to device.name, add_device_type_clip_type_path(id: @clip_type, device_id: device, promo_data_show: params[:promo_data_show], tx_data_show: params[:tx_data_show], search: params[:search], channel_add_show: params[:channel_add_show]) %></td>
                <td><%= link_to 'Add',  add_device_type_clip_type_path(id: @clip_type, device_id: device, promo_data_show: params[:promo_data_show], tx_data_show: params[:tx_data_show], search: params[:search], channel_add_show: params[:channel_add_show])) %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
