<div class="panel-group">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title title-episode-bold">
        <a data-toggle="collapse" href=<%= '#promo-channel-index-' + clip_type.id.to_s %> ><%= pluralize(clip_type.promo_channels.count, 'Promo Channel') %></a>
      </h3>
      <div id=<%= 'promo-channel-index-' + clip_type.id.to_s %> class="panel-collapse collapse">
        <table class="table table-condensed">
          <tbody>
            <% clip_type.promo_channels.each do |promo| %>
              <tr>
                <td><%= promo.channel.name %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>