<div class="panel-group">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title title-episode-bold">
        <a data-toggle="collapse" href="#promo-channels"><%= pluralize(@clip_type.promo_channels.count, 'Promo Channel') %></a>
      </h3>
      <% if @clip_type.promo_channel_data_show %>
        <div id="promo-channels" class="panel-collapse collapse in">
      <% else %>
        <div id="promo-channels" class="panel-collapse collapse">
      <% end %>
        <table class="table table-condensed">
          <tbody>
            <% @clip_type.promo_channels.each do |promo| %>
              <tr>
                <td><%= promo.channel.name %></td>
                <td class='table-links'><%= link_to 'Remove', remove_promo_channel_clip_type_path(id: @clip_type, channel_id: promo.channel, search: params[:search], tx_data_show: params[:tx_data_show], device_add_show: params[:device_add_show], device_data_show: params[:device_data_show]) %> </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>