<div class="panel-group">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title title-episode-bold">
        <a data-toggle="collapse" href="#tx-channels"><%= pluralize(@clip_type.tx_channels.count, 'TX Channel') %></a>
      </h3>
      <% if @clip_type.tx_channel_data_show %>
        <div id="tx-channels" class="panel-collapse collapse in">
      <% else %>
        <div id="tx-channels" class="panel-collapse collapse">
      <% end %>
        <table class="table table-condensed">
          <tbody>
            <% @clip_type.tx_channels.each do |tx| %>
              <tr>
                <td><%= tx.channel.name %></td>
                <td class='table-links'><%= link_to 'Remove', remove_tx_channel_clip_type_path(id: @clip_type, channel_id: tx.channel) %> </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>