<% content_for(:title) do%>
	<%= 'New Status: Sky Clarity Media Management' %>
<% end %>

<h3 class="title-episode-bold">New Status</h3>

<div class='title-normal-condensed'>
  <%= link_to 'Status List', statuses_path %>
</div>

<%= render 'form' %>



