<table class="table table-condensed">
  <tbody>
    <% @clip_types.each do |clip_type| %>
      <tr>
        <td><%= link_to clip_type_name, add_clip_type(@folder, clip_type, params) %></td>
        <td><%= link_to 'Add', add_clip_type(@folder, clip_type, params) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
