<% if @clip.bss_add_show %>
  <div id="bss-add" class="panel-collapse collapse in">
<% else %>
  <div id="bss-add" class="panel-collapse collapse">
<% end %>
  <table class="table table-condensed">
    <tbody>
      <% @bss_ids.each do |bss| %>
        <tr>
          <td><%= link_to bss.bss_title_id, add_bss(@clip, bss, params) %></td>
          <td><%= bss.episode.title_description unless bss.episode.nil? %></td>
          <td><%= link_to 'Add', add_bss(@clip, bss, params) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>