<div class="panel-group">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title title-episode-bold">
        <a data-toggle="collapse" href="#bss-add">Add Episode</a>
      </h3>
      <% if @clip.bss_add_show %>
        <div id="bss-add" class="panel-collapse collapse in">
      <% else %>
        <div id="bss-add" class="panel-collapse collapse">
      <% end %>
        <%= render 'search', path: @clip, remote: true, search: :search_bss, name: 'bss'%>
        <div id = 'bss-titles-list'>
          <%= render 'bss_titles'%>
        </div>
      </div>
    </div>
  </div>
</div>
