<% content_for(:title) do%>
	  Device Type: Sky Clarity Media Management
<% end %>

<div class='title-episode-bold'><b>Device Type</b></div>

<p>
  <div class='title-episode-bold'><b>Name</b></div>
  <div class='title-normal-condensed'><%= @device_type.name %></div>
</p>

<%= link_to 'Edit', edit_device_type_path(@device_type) %> |
<%= link_to 'Back', :back %>
