<% if @episode.title.title %>
    <h3><%='Editing Episode of ' + @episode.title.title %></h3>
<% else %>
    <h3>Editing Episode</h3>
<% end %>


<%= render 'form' %>

<%= link_to 'Show', @episode %> |
<%= link_to 'Back', :back %>
