<% content_for(:title) do%>
	<%= 'New Channel Type: Sky Clarity Media Management' %>
<% end %>

<div class='title-episode-bold'><b>New Channel Type</b></div>

<%= render 'form' %>

<br>
<p>
  <%= link_to 'Back', :back %>
</p>
