<% content_for(:title) do%>
	<%= 'Editing Title : ' + @title.title + ': Sky Clarity Media Management' %>
<% end %>

<div class='title-episode-bold'><b>Editing Title</b></div>
<%= render 'form' %>

<%= link_to 'Show', @title %> |
<%= link_to 'Back', :back %>

