<table class="table table-condensed">
  <thead>
    <tr>
      <th class='title-episode-bold'>Name (Click to add)</th>
    </tr>
  </thead>
  <tbody>
    <% @channels.each do |channel| %>
      <tr>
        <td><%= link_to channel.name, add_channel_bss(@bss_title_id, channel, params) %></td>
      </tr>
    <% end %>
  </tbody>
</table>