<table class="table table-condensed">
  <thead>
    <tr>
      <th class='title-episode-bold'>Name (Click to add)</th>
    </tr>
  </thead>
  <tbody>
    <% @clips.each do |clip| %>
      <tr>
        <td><%= link_to clip.name, add_clip_bss(@bss_title_id, clip, params) %></td>
      </tr>
    <% end %>
  </tbody>
</table>