<% if @bss_title_ids.episode.title.title && @bss_title_id.episode.episode_title %>
    <h3><%='Editing BSS Title ID of ' + @bss_title_id.episode.title.title + "Episode: " + @bss_title_id.episode.episode_title %></h3>
<% else %>
    <h3>Editing BSS Title ID</h3>
<% end %>

<%= render 'form' %>

<%= link_to 'Show', @bss_title_id %> |
<%= link_to 'Back', bss_title_ids_path %>
