$blue: #00367C;
$light-blue: #D7E4EC;
$light-grey: #e6e6e6;
$bootstrap-blue: #337ab7;
$bootstrap-dark-blue: #224f77;
$bootstrap-light-blue: #d7e6f4;
$light-red: #ffacac;

h3 {
    color: gray;
    font-weight: 100;
}

.navbar {
    background-color: $light-blue;
}

.navbar-brand {
    padding: 0px;
}
.navbar-brand img {
    height: 100%;
    padding: 0px;
    width: auto;
}

body 
{ 
    padding-top: 70px;
    background-color: $light-grey;
}

.title-episode-info {
  background-color: white;
  padding: 10px;
  border-radius: 3px;
  border-width: 1px;
  border-color: $bootstrap-light-blue;
  border-style: solid;
}
.title-episode-bold{
  color: $bootstrap-dark-blue;
  padding-left: 7px;
  padding-right: 7px;
  padding-top: 7px;
  padding-bottom: 7px;

  th {
    min-width: 100px;
  }
  
}
.title-episode-bold-condensed {
  color: $bootstrap-dark-blue;
  padding-left: 7px;
  padding-right: 7px;
}
.title-normal{
    padding-left: 7px;
    font-size: 20px;
}

.actions{
    padding-left: 7px;
    padding-top: 20px;
}

input.field-full{
   margin-left: 7px;
   margin-right: 7px;
   width: 90%;
}

.field-normal{
    margin-left: 7px;
    margin-right: 7px;
    width: 50%;
}

.field-small{
  margin-left: 7px;
  margin-right: 7px;
  width: 25%;
}
.drop-down-normal{
  width: 25%;
  min-width: 100px;
}

.field-check-box{
  margin-left: 7px;
  margin-right: 7px;
}

.field-title-search{
    margin-left: 7px;
    margin-right: 0px;
    width: 70% !important;
}
.field_with_errors {
    padding: 5px;
    background-color: $light-red;
    
    label {
        width: 20%;
        padding: 7px;
        background-color: $light-red
    }
    input{
        width: 90% !important;
     }

  }
  
  #error_explanation {
    width: 100%;
    border: 2px solid $bootstrap-dark-blue;
    padding: 7px;
    padding-bottom: 0;
    margin-bottom: 20px;
    background-color: #f0f0f0;
    color: #fff;
  
    h2 {
      text-align: left;
      font-weight: bold;
      padding: 5px 5px 5px 15px;
      font-size: 14px;
      margin: -7px;
      margin-bottom: 0px;
      background-color: $bootstrap-dark-blue;
      color: #fff;
    }
  
    ul li {
      font-size: 14px;
      font-weight: bold;
      list-style: none;
      color: $bootstrap-dark-blue;
      padding-top: 5px;
    }

       
  }

.table-links {
  word-spacing: 1em;  
}
