<div class="panel-group">
  <div class="panel panel-default">
    <div class="panel-heading">
      <% if @bss_title_id %>
        <% bss_title_id = @bss_title_id %>
      <% end %>


      <h3 class="panel-title title-episode-bold">
        <a data-toggle="collapse" href="#channels-data"><%= pluralize(bss_title_id.channels.count, 'Channel') %></a>
      </h3>
      <% if bss_title_id.channel_data_show %>
        <div id="channels-data" class="panel-collapse collapse in">
      <% else %>
        <div id="channels-data" class="panel-collapse collapse">
      <% end %>
        <table class="table table-condensed">
          <tbody>
            <% bss_title_id.channels.each do |channel| %>
              <tr>
                <td><%= channel.name %></td>
                <td class='table-links'><%= link_to 'Remove', remove_channel_bss(bss_title_id, channel, params) %> </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>